src/__pycache__/**
data/**
preds/**
output/**
venv/**
trained_emulators_no_PCA/**
src/ptemcee_modified/__pycache__/**
mcmc/**
test*
temp-pkls/*
emulators/*
condor/run.err
condor/run.log
condor/run.out
